<div class="header">
  <a href="/">
    <h1><span style="color:#8B8000">Bee</span><span style="color:black"Chat</span></h1>
  </a>
  <hr>
</div>

<body>
  <b>Add people to your conversation area by typing in their username:</b>
  <p>
  <form action="/add" method="POST">
    <input type="text" name="username">
    <input type="submit" value="Add">  <span style="color:rgb(134, 3, 3)"> | {{ message }}</span>
    <input type="hidden" name="id" value="{{ id }}">
  </form>
  </p>

  <hr>
  <a href="/">Back to home</a>
</body>

<style>
  .header {
    padding-top: 30px;
    text-align: left;      
  }
    
  .header > a {
    text-decoration: none;
    color: inherit;
    font-size: large;
  }
    
  body > a {
    color: #6b8deb;          
  }
</style>
