<div class="header">
  <a href="/">
    <h1><span style="color:#8B8000">Bee</span><span style="color:black">Chat</span></h1>
  </a>
  <hr>
</div>

<body>
  <p>
    {% if session.user_id %}
      You are logged in. <a href="logout"> | logout</a>

    {% else %}
      <a href="login">Sign in</a>
      or
      <a href="register">Sign up</a>
    {% endif %}
  </p> 

  <div class="searchbar">
    <form action="/search" method="GET">
      <input type="text" name="word" class="searchbox__input" placeholder="Search"/>
      <button type="submit">Search</button>
    </form>
  </div>
  
  <div class="grid">
    {% for area in areas %}
    <div>
        {% if session.user_id %}
        <p>
        <h4>{{ area[0] }}</h4> <a href="/new/{{ area[1] }}">Start a new topic of conversation</a></p>
        {% else %}
        <h4>{{ area[0] }}</h4>
        {% endif %}
        <hr>

        {% for topic in topics %}
          {% if topic[2] == area[1] %}
          <ul>
            <li>{{ topic[1] }} | <a href="/convo/{{ topic[0] }}">View</a>
                <br>
            </li>
          {% endif %}
          </ul>
        {% endfor %}


      </div>
      {% endfor %}

    </div>

    <div class="grid">
      {% if admin %}
      <p>
      <h2>Your conversation topics</h2><br>
      </p>
      <b><a href="/create_area">Create a new private conversation topic</a></b><br>
      <br>
      {% else %}
      <p>
        {% if session.user_id %}
      <h2>Your private conversation areas</h2>
      {% endif %}
      </p>
      {% endif %}

      <p>
        {% for private_area in private_areas %}
        {% if session.user_id == private_area[2] %}
      <div>
        <h4>{{ private_area[0] }}</h4> <a href="/add_users/{{ private_area[1] }}">Start a new topic</a><br>
        <a href="/new/{{ private_area[1] }}">Start a new topic of conversation</a></p>
        <hr>
        {% for topic in topics %}
          {% if topic[2] == private_area[1] %}
          <ul>
          <li>{{ topic[1] }} | <a href="/convo/{{ topic[0] }}">View</a><br></li>
          {% endif %}
      </ul>
        {% endfor %}

      </div>
      {% else %}
      <div>
        <h4>{{ private_area[0] }}</h4> | <a href="/new/{{ private_area[1] }}">Start a new topic</a></p>
        <hr>
        {% for topic in topics %}
          {% if topic[2] == private_area[1] %}
          <ul>
          <li>{{ topic[1] }} | <a href="/convo/{{ topic[0] }}">View</a><br></li>
          {% endif %}
          </ul>
        {% endfor %}

      </div>
      {% endif %}
      {% endfor %}
    </p>

  </div>

  <hr>
  <a href="/">Back to home</a>
</body>


<hr>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: minmax(120px, auto);
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 1em;


  }

  .grid>div {
    background-color: #fae82b;
    padding: 3fr;
    border-radius: 3px;
  }

  .grid>div>a {
    margin-left: 10px;
    color: #2b2701;
  }

  .header {
    padding-top: 30px;
    text-align: left;
  }

  .header>a {
    text-decoration: none;
    color: inherit;
    font-size: large;
  }

  body {
    margin-left: 50px;
  }

  body>a {
    color: #6b8deb
  }

  h2 {
    text-decoration: underline;
  }

  h4 {
    margin-left: 10px;
  }

  p {
    margin-bottom: 30px;
  }

  p>a {
    color: #6b8deb;
  }


  ul li {
    background-color: rgb(244, 250, 167);
    margin: 3px;
    list-style-type: none;
  }

  li > a {
    color: #6b8deb;
  }

</style>
