<h1><span style="color:yellow">Bee</span>Chat</h1>
<hr>
<br>

<body>
  <p>
    {% if session.user_id %}
      You are logged in. <a href="logout"> | logout</a>

    {% else %}
      <a href="login">Sign in</a>
      or
      <a href="register">Create an account</a>
    {% endif %}
  </p> 

  <div class="searchbar">
    <form action="/search" method="GET">
      <input type="text" name="word" class="searchbox__input" placeholder="Search"/>
      <button type="submit">Search</button>
    </form>
  </div>
  
  <div class="grid">
    {% for area in areas %}
    <div>
        {% if session.user_id %}
        <p>
        <h4>{{ area[0] }}</h4> <a href="/new/{{ area[1] }}">Start a new conversation</a></p>
        {% else %}
        <h4>{{ area[0] }}</h4>
        {% endif %}
        <hr>

        {% for topic in topics %}
          {% if topic[2] == area[1] %}
          <ul>
            <li>{{ topic[1] }} | <a href="/convo/{{ topic[0] }}">Join</a>
                <br>
            </li>
          {% endif %}
          </ul>
        {% endfor %}


      </div>
      {% endfor %}

    </div>


<a href="/new">New messaging area</a>
    {% else %}
    <a href="login">Sign in</a>
    or
    <a href="register">Create an account</a>
    {% endif %}

    <style>
        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1em;
        }
        .grid>div {
            background-color: cadetblue;
            padding: 2fr;
        }
        a {
            color: rgb(66, 0, 14);
            
        }
    </style>
    <body>
        <div class="grid">
            {% for area in areas %}
            <div>
                <h4>{{ area[0] }}</h4>
                <hr>
                
                {% for topic in topics %}
                {% if topic[2] == area[1] %}
                {{ topic[1] }} | <a href="/convo/{{ topic[0] }}">Join</a>
                <br>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </body>
    <hr>
