<div class="header">
  <a href="/">
    <h1><span style="color:#8B8000">Bee</span><span style="color:black"Chat</span></h1>
  </a>
  <hr>
</div>

<body>
  <form action="register" method="POST">
    Username: <input type="text" name="username">
    <p>
      Password: <input type="password" name="password">
    <p>
      <input type="checkbox" value="1" name="admin"> This will be an admin user
    <p>   
      <input type="submit" value="Create">
  </form>

  <a href="/">Back to home</a>
</body>

<style>
  .header {
    padding-top: 30px;
    text-align: left;
  }

  .header>a {
    text-decoration: none;
    color: inherit;
    font-size: large;
  }

  body>a {
    color: #6b8deb;
  }
</style>